body {
    background-color: #000;
}

#container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60vh;
}
#box1 {
    height: 100px;
    width: 100px;
    background-color: #FF8A5B;
}
#box2{
    height: 100px;
    width: 100px;
    background-color: #BAA5FF;
}
#box3{
    height: 100px;
    width: 100px;
    background-color: #EA526F;
}

