
body {
    background-color: #111;
    height: 100vh;
    width: 100vw;
    margin: 0;
    box-sizing: border-box;
}


.box {
    width: 100px;
    height: 100px;
    border-radius: 12px;
    display: flex;
    background-color: red;
}

#page1,#page2,#page3 {
    height: 100vh;
    width: 100vw;
    background-color: royalblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

#page2 {
    display: flex;
    flex-direction: column;
    background-color: #BAA5FF;
}

#page3 {
   
    background-color: coral;
}


#page2 h1,#page2 h2 {
    color: white;
}

h1{
    font-size: 200px;
    background-color: red;
}
h2{
    font-size: 50px;
    background-color: green;
}